<?xml version="1.0" encoding="utf-8" ?>

<log4net>
	<!-- WebAppender -->
	<appender name="WebAppender" type="log4net.Appender.RollingFileAppender">
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<file value="logs/" />
		<datePattern value="'web - 'yyyy-MM-dd.'txt'"/>
		<staticLogFileName value="false"/>
		<appendToFile value="true"/>
		<rollingStyle value="Date"/>
		<maxSizeRollBackups value="100"/>
		<maximumFileSize value="15MB"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%-5level (%date)  %message %newline"/>
			<!--%logger  - кто логирует - пр. SickLeaveController-->
		</layout>
	</appender>

	<!-- DatabaseAppender -->
	<appender name="DatabaseAppender" type="log4net.Appender.RollingFileAppender">
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<file value="logs/" />
		<datePattern value="'database - 'yyyy-MM-dd.'txt'"/>
		<staticLogFileName value="false"/>
		<appendToFile value="true"/>
		<rollingStyle value="Date"/>
		<maxSizeRollBackups value="100"/>
		<maximumFileSize value="15MB"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%-5level (%date)  %message %newline"/>
		</layout>
	</appender>



	<!-- SchedulersAppender -->
	<!--<appender name="SchedulersAppender" type="log4net.Appender.RollingFileAppender">
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<file value="logs/" />
		<datePattern value="'schedulers - 'yyyy-MM-dd.'txt'"/>
		<staticLogFileName value="false"/>
		<appendToFile value="true"/>
		<rollingStyle value="Date"/>
		<maxSizeRollBackups value="100"/>
		<maximumFileSize value="15MB"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%-5level (%date)  %message %newline"/>
		</layout>
	</appender>-->
	<!-- MSignAppender -->
	<!--<appender name="MSignAppender" type="log4net.Appender.RollingFileAppender">
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<file value="logs/" />
		<datePattern value="'msign - 'yyyy-MM-dd.'txt'"/>
		<staticLogFileName value="false"/>
		<appendToFile value="true"/>
		<rollingStyle value="Date"/>
		<maxSizeRollBackups value="100"/>
		<maximumFileSize value="15MB"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%-5level (%date)  %message %newline"/>
		</layout>
	</appender>-->
	<!-- CommonAppender -->
	<!--<appender name="CommonAppender" type="log4net.Appender.RollingFileAppender">
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<file value="logs/" />
		<datePattern value="'common - 'yyyy-MM-dd.'txt'"/>
		<staticLogFileName value="false"/>
		<appendToFile value="true"/>
		<rollingStyle value="Date"/>
		<maxSizeRollBackups value="100"/>
		<maximumFileSize value="15MB"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%-5level (%date)  %message %newline"/>
		</layout>
	</appender>-->


	<!--<root>
		<level value="ALL"/>
		<appender-ref ref="CommonAppender"/>
	</root>-->

	<logger additivity="false" name="WebAppender">
		<level value="ALL"/>
		<appender-ref ref="WebAppender" />
	</logger>

	<logger additivity="false" name="DatabaseAppender">
		<level value="ALL"/>
		<appender-ref ref="DatabaseAppender" />
	</logger>

	<!--<logger additivity="false" name="SchedulersAppender">
		<level value="ALL"/>
		<appender-ref ref="SchedulersAppender" />
	</logger>
	
	<logger additivity="false" name="MSignAppender">
		<level value="ALL"/>
		<appender-ref ref="MSignAppender" />
	</logger>-->


</log4net>